{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 text-center">Рейсы с одной стыковкой между городами</h2>
<form method="post">
    <h5 class="mt-4">Откуда</h5>
    <div class="row g-3 mb-3">
        <div class="col-md-6 autocomplete-container">
            <label class="form-label">Город</label>
            <input type="text" name="city1" class="form-control autocomplete" data-type="city" placeholder="Город" required>
        </div>
        <div class="col-md-6 autocomplete-container">
            <label class="form-label">Страна</label>
            <input type="text" name="country1" class="form-control autocomplete" data-type="country" placeholder="Страна" required>
        </div>
    </div>

    <h5>Куда</h5>
    <div class="row g-3">
        <div class="col-md-6 autocomplete-container">
            <label class="form-label">Город</label>
            <input type="text" name="city2" class="form-control autocomplete" data-type="city" placeholder="Город" required>
        </div>
        <div class="col-md-6 autocomplete-container">
            <label class="form-label">Страна</label>
            <input type="text" name="country2" class="form-control autocomplete" data-type="country" placeholder="Страна" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg mt-4 px-5">Найти рейсы со стыковкой</button>
</form>
{% endblock %}